@import "tailwindcss";
/* ./src/index.css (Below the @import and above the @tailwind directives) */
@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
